{% extends "base.html" %}
{% load staticfiles %}
{% block extra_headers %}<link href="{% static "css/graph.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block title %} VitalsVis {% endblock %}
{% block content %}
<header>
<p id="news">EWS<br /><font size="7">#</font></p>
<p><span id="time">{{ timenow }}</span>
<span id="date">{{ datenow }}</span></p>
<p id="name">{{ patient.first_name }} {{ patient.last_name }}</p>
<p><span id="dob">{{ patient.dob }}</span><span id="mrn">#{{ patient.mrn }}</span></p>
<table>
	<tr>
		<td>
			<img src="{% url "g" mrn=patient.mrn obs="Respiratory Rate" start=datetimefivedays end=datetimeoneday compass="NW" height="90" width=width min_="-1" max_="40" refmin="12" refmax="20" %}"
		</td>
		<td>
			<img src="{% url "g" mrn=patient.mrn obs="Respiratory Rate" start=datetimeoneday end=datetimezerodays compass="NE" height="90" width=width min_="-1" max_="40" refmin="12" refmax="20" %}"
		</td>
		<td>
			<span id="obslabel">RR</span>
			<span id="obs">{{ recentRR }}</span>
		</td>
	</tr>
	<tr>
	<td>
			<img src="{% url "g" mrn=patient.mrn obs="Oxygen Saturation" start=datetimefivedays end=datetimeoneday compass="W" height="90" width=width min_="80" max_="101" refmin="96" refmax="101" %}"
		</td>
		<td>
			<img src="{% url "g" mrn=patient.mrn obs="Oxygen Saturation" start=datetimeoneday end=datetimezerodays compass="E" height="90" width=width min_="80" max_="101" refmin="96" refmax="101" %}"
		</td>
		<td>
			<span id="obslabel">SpO<sub>2</sub></span>
			<span id="obs">{{ recentRR }}%</span>
		</td>
	</tr>
	<tr>
		<td>
			<img src="{% url "g" mrn=patient.mrn obs="Temperature" start=datetimefivedays end=datetimeoneday compass="W" height="90" width=width min_="33" max_="40" refmin="35" refmax="37.1" %}"
		</td>
		<td>
			<img src="{% url "g" mrn=patient.mrn obs="Temperature" start=datetimeoneday end=datetimezerodays compass="E" height="90" width=width min_="33" max_="40" refmin="35" refmax="37.1" %}"
		</td>
		<td>
			<span id="obslabel">Temp</span>
			<span id="obs">{{ recentRR }}</span>
		</td>
	</tr>
	<tr>
		<td>
			<img src="{% url "g" mrn=patient.mrn obs="bp" start=datetimefivedays end=datetimeoneday compass="W" height="90" width=width min_="40" max_="230" refmin="50" refmax="150" %}"
		</td>
		<td>
			<img src="{% url "g" mrn=patient.mrn obs="bp" start=datetimeoneday end=datetimezerodays compass="E" height="90" width=width min_="40" max_="230" refmin="50" refmax="150" %}"
		</td>
		<td>
			<span id="obslabel">BP</span>
			<span id="obs">{{ recentRR }}/{{ recentRR }}</span>
		</td>
	</tr>
	<tr>
		<td>
			<img src="{% url "g" mrn=patient.mrn obs="Heart Rate" start=datetimefivedays end=datetimeoneday compass="SW" height="90" width=width min_="20" max_="180" refmin="50" refmax="100" %}"
		</td>
		<td>
			<img src="{% url "g" mrn=patient.mrn obs="Heart Rate" start=datetimeoneday end=datetimezerodays compass="SE" height="90" width=width min_="20" max_="180" refmin="50" refmax="100" %}"
		</td>
		<td>
			<span id="obslabel">HR</span>
			<span id="obs">{{ recentRR }}</span>
		</td>
	</tr>	
</table>
	
{% endblock %}
