* {
font-family: 'QuicksandBold';
}

@font-face {
    font-family: 'QuicksandBold';
    src: url('Quicksand_Bold-webfont.eot');
    src: url('Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Quicksand_Bold-webfont.woff') format('woff'),
         url('Quicksand_Bold-webfont.ttf') format('truetype'),
         url('Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;
	}
body {
	width: 620px;
}
table, th, td, tr, img
{
	border: 0;
	padding: 0;
	margin: 0;
}
table, th, td, tr
{
	border-collapse: collapse;
}
#graphcontainer, #graphs, #unitscontainer
{
	float: left
}
#graphcontainer, #unitscontainer
{
	border: 0;
	padding: 0;
	margin: 0;
	white-space: nowrap;
}
#date, #time, #obslabel, #obsunits , #fraction{
	color: gray;
}
#date, #time, #name, #dob, #mrn {
	padding:0px 20px;
	margin: 0px;
}
#EWSRed, #EWSAmber, #EWSGreen, #EWSBlue{
	font-size: 500%
}
#EWSRed{
	color: #E67857;
}
#EWSAmber{
	color: #F6C17D;
}
#EWSGreen{
	color: #C2DEB6;
}
#EWSBlue{
	color: #CCCCCC;
}
#time {
	font-size: 200%;
	font-weight: bold;
}

#date {
	font-size: 75%;
}

#name {
	font-size: 200%;
	font-weight: bold;
}

#news {
	float: right;
	align: right;
}
#fraction {
	padding: 0px;
}
#obs, #obslabel, #obsunits, #fraction {
	padding: 0px 5px;
	margin: 0px;
	white-space: nowrap;
}
#obslabel
{
	font-weight: bold;
}
#obslabel, #obsunits {
	font-size: 80%;
}
#obs {
	font-weight: bold;
	font-size: 125%;
}