* {
font-family: 'NunitoRegular';
}
@font-face {
    font-family: 'NunitoRegular';
    src: url('Nunito-Regular-webfont.eot');
    src: url('Nunito-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Nunito-Regular-webfont.woff') format('woff'),
         url('Nunito-Regular-webfont.ttf') format('truetype'),
         url('Nunito-Regular-webfont.svg#NunitoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	width: 620px;
}
img{
	border: 0;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	display: block;
}
#graphcontainer, #detailscontainer{
	border: 0;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	width: 620px;
	float: left;
}
#graph, #graphlabels{
	float: left;
}
#date, #time, #ews{
	color: #ADADAD;
}
#news{
	float: right
}
#date, #time, #name, #dob, #mrn {
	padding:0px 20px;
	margin: 0px;
}
#EWSRed, #EWSAmber, #EWSGreen, #EWSBlue{
	font-size: 500%
}
#EWSRed{
	color: #E67857;
}
#EWSAmber{
	color: #F6C17D;
}
#EWSGreen{
	color: #C2DEB6;
}
#EWSBlue{
	color: #CCCCCC;
}
#time {
	font-size: 200%;
	font-weight: bold;
}

#date {
	font-size: 75%;
}

#name {
	font-size: 200%;
	font-weight: bold;
}
#dob, #mrn{
	font-size: 100%;
	font-weight: regular;
}
#news {
	float: right;
	align: right;
}
#logo{
	width: 620px;
	float: left;
}
#logoinner{
	width: 50%;
	margin: 0 auto;
}